<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title></title>
</head>
<body>
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td style="padding-bottom: 20px;" align="left">Hi ${user.nick}:</td>
		</tr>
		<tr>
			<td style="padding: 5px 0 5px 30px;" align="left">
				欢迎加入兼职牛，请点击下面的链接来验证你的Email帐号：
			</td>
		</tr>
		<tr>
			<td style="padding: 5px 0 5px 30px;" align="left">
				<a style="color: #55aadd;" href="@@{UserAuthentication.confirmRegistMail(user.activeCode)}">
					@@{UserAuthentication.confirmRegistMail(user.activeCode)}
				</a>
			</td>
		</tr>
		<tr>
			<td style="padding: 5px 0 5px 30px;" align="left">
				如果链接无法点击，请将该链接复制到浏览器(如IE)的地址栏中访问。
			</td>
		</tr>
		<tr>
			<td style="padding-top: 30px;">
				<a style="color: #55aadd;" href="@@{Application.login}">
					兼职牛
				</a>
			</td>
		</tr>
		<tr>
			<td style="padding: 5px 0 5px 0;">
				(这是一封系统自动发出的邮件，请勿回复。)
			</td>
		</tr>
	</table>
	<img src="@@{application.index}/x/p/" width="5" height="5" alt=""/>
</body>
</html>