textarea {
	height: 70px;
	width: 346px;
}
.normTable{
	margin-top: 10px;
}
.normTable tbody td{
	border-bottom: solid 1px #DEDEDE;
	vertical-align: middle;
}
.normTable thead td{
	background: #DEDEDE;
	border-bottom: solid 1px #BBB;
	color: #999;
}
/*-----------------------------------*/
th{
	text-align: left;
	padding: 3px 8px;
	line-height: 34px;
}
#taskFilterPanel{
	padding-left: 20px;
	padding-top: 10px;
}
#taskFilterPanel .stdColorButton{
	line-height: 14px;
}
