textarea {
	height: 70px;
	width: 346px;
}
.normTable{
	margin-top: 10px;
}
.normTable tbody td{
	border-bottom: solid 1px #DEDEDE;
	vertical-align: middle;
}
.normTable thead td{
	background: #DEDEDE;
	border-bottom: solid 1px #BBB;
	color: #999;
}
/*-----------------------------------*/
th{
	text-align: left;
	padding: 3px 8px;
	line-height: 34px;
}
#taskFilterPanel{
	padding-left: 20px;
	padding-top: 10px;
}
#taskFilterPanel .stdColorButton{
	line-height: 14px;
}
/*弹出框样式*/
.modalWnd{
	left:60%;
	top:40%;
	margin:-150px 0 0 -325px;
	position: fixed;
	z-index: 100;

}
#RechargeWnd .modalWndInner{
	width:300px;
}
.area{
	height:100px;
}
.radio{
	width:80px;
}
