#{extends 'frame.html' /}
#{set title:'确认返款' /}

#{set 'moreStyles'}
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/task/send-good.css'}" />
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/jquery.pagination.css'}" />
#{/set}
<div class="contentCard">
	<div class="contentTitle">
		<span class="iconfont">&#xf00ee;</span>
		确认返款
		<a class="floatRight" href="/seller/tasks2" style="color:#4083a9;">
			<span class="iconfont">&#x3433;</span>
			返回“我的推广”列表
		</a>
	</div>
	<div class="contentBody">
	#{authenticityToken/}
		<form id="queryForm">
		<div class="taskFilterLine">
			<span class="floatLeft mr-8">推广种类</span>
			<select class="floatLeft mr-8 platform">
			#{list items:platforms, as:'p'}
				<option value="${p}" ${selectedPlatform==p?'selected':''}>${p.title}</option>
			#{/list}
			</select>
			<span class="floatLeft mr-8">店铺</span>
			<select class="floatLeft mr-8" id="shop">
				<option value="">全部</option>
			</select>
			<span class="floatLeft mr-8">订单号</span>
			<input class="floatLeft mr-8" type="text" name="order" id="orderId"/>
			<span class="floatLeft mr-8">买号</span>
			<input class="floatLeft mr-8" type="text" name="account" id="buyerAccountId"/>
			<a class="stdColorButton floatLeft" id="queryTask" href="javascript:;">查询</a>
		</div>
		</form>
		<!-- <div class="taskWrapperHf clearfix">
			<a href="javascript:;" class="lnkChoseAll inputCheckBox floatLeft">&nbsp;</a>
			<span class="floatLeft" style="line-height:30px;">全选</span>
		</div> -->
		<div class="taskWrapper" style="overflow: hidden;" id="taskContainer">
		</div>

		<!--这里是分页区域-->
		<div class="pagin-btm clearFix">
			<div class="pagination"></div>
		</div>
		<div class="popWrapper" style="display: none;" id="tr_loading_mask">
			<div class="maskLayer"></div>
			<img class="tr_juhua" src="@{'/public/images/pre_loading.gif'}" />		
		</div>
		<!-- <div class="taskWrapperHf clearfix">
			<a href="javascript:;" class="lnkChoseAll inputCheckBox floatLeft">&nbsp;</a>
			<span class="floatLeft" style="line-height:30px;">全选</span>
		</div>
		<div class="buttonSection clearfix">
			<a class="stdColorButton floatRight" href="javascript:;" id="btnConfirmAll">
				<span class="iconfont">&#xf0025;</span>
				确认发货
			</a>
		</div> -->
	</div>
</div>

<textarea id="taskCellTemp" class="muban">
	{{#results}}
	<div class="taskCell">
		<div class="title">
			<a class="viewDetail" href="/buyer/task2/{{id}}" target="_blank">查看详情</a>
			<span class="taskNo">
				任务编号：{{taskIdStr}}-{{id}}
				<span></span>
			</span>
			<a href="javascript:;" class="inputCheckBox floatLeft" tid="{{id}}">&nbsp;</a>
			<span class="shop"> <i class="plat_small {{platIcon}}"></i>
				{{shopName}}
			</span>
		</div>
		<div class="body">
			<table class="normTable">
				<thead>
					<tr>
						<td class="item-list"></td>
						<td class="nick"></td>
						<td class="orderid"></td>
						<td class="express"></td>
						<td class="opera"></td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="item-list">
							<div class="item-box">
								<div class="pic">
									<img src="{{itemPic}}" />
								</div>
								<p class="title">{{itemTitle}}</p>
							</div>
							{{#additionalItemTitle}}
							<div class="item-box">
								<div class="pic">
									<img src="{{additionalItemPicUrl}}" />
								</div>
								<p class="title">{{additionalItemTitle}}</p>
							</div>
							{{/additionalItemTitle}}
						</td>
						<td class="nick">
							<em class="cap">买号</em>
							{{buyerAccountNick}}
						</td>
						<td class="orderid">
							<em class="cap">订单号</em>
							{{orderId}}
						</td>
						<td class="express">
						 <em class="cap">{{expressTypeStr}}{{expressCompany}}</em>
							{{expressNo}}
						</td>
						<td class="opera">
							<a class="btnConfirmDeli stdColorButton" href="javascript:;">确认返佣</a>
						</td>
					</tr>
				</tbody>

			</table>

		</div>
	</div>
	{{/results}}
</textarea>
#{set 'moreScripts'}
<script src="@{'/public/javascripts/jquery.pagination.js'}" type="text/javascript"></script>
<script src="@{'/public/javascripts/mustache.min.js'}" type="text/javascript"></script>
 <script src="@{'/public/javascripts/task/send-good2.js'}" type="text/javascript"></script>
<script type="text/javascript">App.module = 'myTask2';</script>
#{/set}