#{extends 'frame.html' /}
#{set title:'邀请好友' /}

#{set 'moreStyles'}
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/invite.css'}" />
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/jquery.pagination.css'}" />
<link rel="stylesheet" media="screen" href="@{'/public/datetimepicker/jquery.datetimepicker.css'}" />
#{/set}

<div class="contentCard">
	<div class="contentTitle">
		邀请好友参与会员费50%的分成奖励（商家买手都可以邀请）
	</div>
	<div class="contentBody" style="color:#80AED6">
		邀请买手数量<span style="color:red;font-weight: bold">${inviteStatistics?.buyerCount}</span>个，邀请商家数量<span style="color:red;font-weight:bold;">${inviteStatistics?.sellerCount}</span>个，共获取会员费分成奖励<span style="color:red;font-weight: bold">${inviteStatistics?.sum}</span>个金币
	</div>
</div>

<div class="contentCard">

	<div class="contentTitle">
		邀请好友注册
	</div>
	#{if allowInvite=='true'}
	<div class="contentBody">
		<div class="mb10"> 
			#{if user.type.toString()=='BUYER'}
			<textarea id="inviteUrl" readonly="true">快来做任务赚钱吧，推荐你加入,有送20个金币哦:http://www.jzniu.cn/regist?id=${user?.id}</textarea>
			#{/if}
			#{if user.type.toString()=='SELLER'}
			<textarea id="inviteUrl" readonly="true">最靠谱的信誉提升平台，推荐你加入，还有会员送哟：http://www.jzniu.cn/regist?id=${user?.id}</textarea>
			#{/if}
			<div class="clearFix"></div>
		</div>
		<div>
			<input type="button" id="copyInviteUrl" value="复制邀请链接  " />(如果点击无响应，请手工复制)
			<div class="clearFix"></div>
		</div>
	</div>
	#{/if}
	#{else}
	#{if user.type.toString()=='BUYER'}
	<div class="contentBody">
		<div class="mb10 red"> 
			必须先完成一个任务后才能邀请好友!
		</div>
	</div>
	#{/if}
	#{if user.type.toString()=='SELLER'}
	<div class="contentBody">
		<div class="mb10 red"> 
			必须先发布一个任务后才能邀请好友!
		</div>
	</div>
	#{/if}
	#{/else}
</div>

<div class="contentCard">
	<div class="contentTitle">我邀请到的好友</div>
	<div id="taskFilterPanel">
		<div class="clearfix mb10">
			<span class="floatLeft mr10">好友身份</span>
			<select class="floatLeft mr10" id="type">
				<option value="BUYER" >买手</option>
				<option value="SELLER">商家</option>
				<option value="" selected="true">全部</option>
			</select>
			<span class="floatLeft mr10">昵称</span>
			<input type="text" id="nick" class="floatLeft mr10 inputText" />
			<span class="floatLeft mr10">QQ</span>
			<input type="text" id="qq" class="floatLeft mr10 inputText" />
			<span class="floatLeft mr10">好友状态</span>
			<select class="floatLeft mr10" id="status">
				<option value="">全部</option>
				#{list items:userStatusList, as:'s'}
				<option value="${s}" >${s.title}</option>
				#{/list}
			</select>
		</div>
		<div class="clearfix mb10">
			<span class="floatLeft mr10">注册时间</span>
			<input type="text" id="registTimeStart" class="floatLeft mr10 inputText" />
			<span class="floatLeft mr10">-</span>
			<input type="text" id="registTimeEnd" class="floatLeft mr10 inputText" />
			<a class="stdColorButton floatLeft queryBtn" href="javascript:;" id="queryBtn">查询</a>
		</div>
	</div>
	<div class="mt20">
		<table class="normTable">
			<thead>
				<tr>
					<td style="width:8%">昵称</td>
					<td style="width:3%">身份</td>
					<td style="width:5%">QQ</td>
					<td style="width:8%">状态</td>
					<td style="width:8%">注册时间</td>
					<td style="width:8%">充值会员时间</td>
					<td style="width:5%">获得奖励金币</td>
				</tr>
			</thead>
			<tbody id="accountContainer"></tbody>
		</table>
		<div id="noMsg">
			<div class="warnBox">
				<span class="iconfont">&#xf00b6;</span>
				没有用户!
			</div>
		</div>
		<div class="pagin-btm clearFix" style="display: none;">
			<div class="pagination"></div>
		</div>
		<div class="popWrapper" style="display: none;" id="tr_loading_mask">
			<div class="maskLayer"></div>
			<img class="tr_juhua" src="/public/images/pre_loading.gif" />
		</div>
	</div>
</div>

<textarea class="muban" id="rowTemp">
	{{#results}}
	<tr data-nick="{{nick}}" data-uid="{{id}}">
		<td>{{nick}}</td>
		<td class="usertype">{{usertype}}</td>
		<td>{{qq}}</td>
		<td>{{userstatus}}</td>
		<td>{{registTimeStr}}</td>
		<td>{{memberOpenTimeStr}}</td>
		<td>{{rewardIngotLong}}</td>
	</tr>
	{{/results}}
</textarea>

#{set 'moreScripts'}
<script src="@{'/public/javascripts/jquery.pagination.js'}" type="text/javascript"></script>
<script src="@{'/public/javascripts/user/invite.js'}" type="text/javascript"></script>
<script src="@{'/public/javascripts/mustache.min.js'}" type="text/javascript"></script>
<script src="@{'/public/javascripts/jquery.zclip.js'}" type="text/javascript"></script>
<script src="@{'/public/javascripts/jquery.number.min.js'}" type="text/javascript"></script>
<script src="@{'/public/datetimepicker/jquery.datetimepicker.js'}" type="text/javascript"></script>
<script src="@{'/public/javascripts/main.js'}" type="text/javascript"></script>

<script type="text/javascript">App.module = 'invite';</script>
#{/set}