<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="models.mappers.marketing.ActivityMapper">

	<resultMap id="BaseResultMap" type="models.marketing.Activity"></resultMap>

	<update id="updateById" parameterType="models.User">
		update user
		<set>
			<if test="password !=null">
				password = #{password},
			</if>
			<if test="payPassword!= null">
				pay_password = #{payPassword},
			</if>
			<if test="email!= null">
				email = #{email},
			</if>
			<if test="qq!= null">
				qq = #{qq},
			</if>
			<if test="mobile!= null">
				mobile = #{mobile},
			</if>
			<if test="registTime != null">
				regist_time = #{registTime},
			</if>
			<if test="status != null">
				status = #{status},
			</if>
			<if test="activeCode != null">
				active_code = #{activeCode},
			</if>
			<if test="activeCodeCreateTime != null">
				active_code_create_time = #{activeCodeCreateTime},
			</if>
			<if test="dueTime != null">
				due_time = #{dueTime},
			</if>
			modify_time = #{modifyTime}
		</set>
		where id = #{id}
	</update>

	<!-- 后台管理：用户列表 -->
	<sql id="where">
		<where>
			<if test="id !=null">
				and u.id=#{id}
			</if>
			<if test="nick !=null">
				and u.nick=#{nick}
			</if>
			<if test="email !=null">
				and u.email=#{email}
			</if>
			<if test="qq !=null">
				and u.qq=#{qq}
			</if>
			<if test="mobile !=null">
				and u.mobile=#{mobile}
			</if>
			<if test="type !=null and type.toString() !='ALL'">
				and u.type=#{type}
			</if>
			<if test="status !=null and status.toString() !='ALL'">
				and u.status=#{status}
			</if>
			<if test="registTimeStart !=null">
				<![CDATA[ and u.regist_time>=#{registTimeStart} ]]>
			</if>
			<if test="registTimeEnd !=null">
				<![CDATA[ and u.regist_time<=#{registTimeEnd} ]]>
			</if>
		</where>
	</sql>
	<select id="count" resultType="java.lang.Integer">
		select count(*) from activity a
	</select>
	<select id="selectAll" resultMap="BaseResultMap">
		SELECT id,title,page_url,banner_pic,start_time,end_time,status,biz_type,rule_content,modify_time FROM activity a
		
		order by a.modify_time desc
	</select>
	
	
	<insert id="insert" parameterType="models.marketing.Activity">
		insert into activity
		<trim prefix="(" suffix=")" suffixOverrides=",">
			id,title,page_url,banner_pic,start_time,end_time,STATUS,biz_type,create_time,modify_time
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			#{id,jdbcType=BIGINT},#{title},#{pageUrl},#{bannerPic},#{startTime},#{endTime},#{status},#{bizType},
			#{createTime},#{modifyTime}
		</trim>
	</insert>
	
	<update id="update" parameterType="models.marketing.Activity">
		update activity
		<set>
			<if test="title !=null and title!=''">
				title = #{title},
			</if>
			<if test="startTime!= null and startTime!=''">
				start_time = #{startTime},
			</if>
			<if test="endTime!= null and endTime!=''">
				end_time = #{endTime},
			</if>
			<if test="status!= null and status!=''">
				status = #{status},
			</if>
			<if test="ruleContent!= null and ruleContent!=''">
				ruleContent = #{ruleContent},
			</if>
			modify_time = #{modifyTime}
		</set>
		where id = #{id}
	</update>
</mapper>
	